<div class="container-fluid">
  <div class="row">

    <div class="col p-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="dash">Dashboard Overview</h4>
        <button class="btn btn-outline-warning">Export</button>
      </div>

      <div class="row g-4" *ngIf="stats">
        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total Users</h6>
            <h4 class="text-primary">{{ stats.totalUsers }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total Categories</h6>
            <h4 class="text-success">{{ stats.totalCategories }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total SubCategories</h6>
            <h4 class="text-info">{{ stats.totalSubCategories }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total Products</h6>
            <h4 class="text-dark">{{ stats.totalProducts }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>Out of Stock</h6>
            <h4 class="text-danger">{{ stats.outOfStockProducts }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-4 bg-white shadow rounded">
            <h6>New Users (This Month)</h6>
            <h4 class="text-warning">{{ stats.newUsersThisMonth }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total Sales</h6>
            <h4 class="text-primary">${{ stats.totalSales }}</h4>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="p-4 bg-white shadow rounded">
            <h6>Total Commission</h6>
            <h4 class="text-muted">${{ stats.totalCommission }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
