<div class="">
    <!-- Navigation Bar -->
    <app-sell-navbar></app-sell-navbar>
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <img src="assets/labtop.png" alt="Logo" style="width:650px; height: 450px; " />
                <div>
                    <h1 style="color: orange;">Sell on Jumia and grow your business all over Egypt</h1>
                    <div class="d-flex flex-row justify-content-center align-items-center my-3">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <span class="auth">New Seller?</span>
                            <button class="btn btn-warning text-light" routerLink="/sellerRegisteration">Register
                                Here</button>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center mx-5">
                            <span class="auth">Already have an account</span>
                            <button class="btn btn-secondary px-4" routerLink="/login">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Sell Section -->
    <section class="why-sell-section">
        <div class="section-container">
            <div>
                <h1>Why sell on Jumia?</h1>
                <h3>The advantages of selling on Jumia</h3>
            </div>


            <section class="cards-section">
                <div class="card d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/user.png" alt="Icon 1" class="icon">
                    <h3>Reach customers all over Egypt</h3>
                    <p>
                        Show your products to all Jumia’s customers in all over Egypt and reach
                        millions of views and visits to your offers while you are at your place.
                    </p>
                    <button class="learn-btn">Learn more</button>
                </div>

                <div class="card d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/delivery.png" alt="Icon 2" class="icon">
                    <h3>Easy shipping and delivery</h3>
                    <p>
                        Jumia will deliver all your orders anywhere in Egypt easily and quickly,
                        whether you store the products at your own store or at Jumia’s warehouse.
                    </p>
                    <button class="learn-btn">Learn more about shipping methods</button>
                </div>

                <div class="card d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/diagram .png" alt="Icon 3" class="icon">
                    <h3>That's a great chance to boost your profits!</h3>
                    <p>
                        Costs on Jumia are simple, and you can make big profits after displaying
                        and selling your products on Jumia
                    </p>
                    <button class="learn-btn">Learn more about pricing and costs</button>
                </div>
            </section>

        </div>
        <section>
            <h1>How to sell on Jumia?</h1>
            <h3>Start Selling on Jumia in just 3 steps!</h3>
            <div class="steps-container">
                <!-- Circle 1 -->
                <div class="step-wrapper">
                    <div class="step-circle">
                        <span class="step-title">REGISTER NOW</span>
                        <div class="dashed-circle"></div>
                    </div>
                    <div class="circle-number">
                        <p class="step-number">1</p>
                    </div>
                </div>

                <!-- Circle 2 -->
                <div class="step-wrapper">
                    <div class="step-circle">
                        <span class="step-title">ATTEND SELLER TRAINING</span>
                        <div class="dashed-circle"></div>
                    </div>
                    <div class="circle-number">
                        <p class="step-number">2</p>
                    </div>
                </div>

                <!-- Circle 3 -->
                <div class="step-wrapper">
                    <div class="step-circle">
                        <span class="step-title">START SELLING</span>
                        <div class="dashed-circle"></div>
                    </div>
                    <div class="circle-number">
                        <p class="step-number">3</p>
                    </div>
                </div>
            </div>

        </section>
    </section>

    <!-- vedios -->
    <section>
        <div class="reviews-section">
            <h2 class="section-title">Reviews of our partners</h2>

            <div class="reviews-container">
                <!-- Video Grid -->
                <div class="video-grid">
                    <div class="video-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4Qsw4Wb5o0g"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="video-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5a3ASgr9z4E"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="video-container">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/71PNukAKz9w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <h1>Do You Need Help With Registration?</h1>
            <div class="d-flex flex-row justify-content-center align-items-center m-3 footer-cards ">
                <div class="card d-flex flex-column justify-content-center align-items-center m-5">
                    <p>
                        Learn more about the requirements to open a new account on JUMIA.
                    </p>
                    <button class="learn-btn">Learn more</button>
                </div>
                <div class="card d-flex flex-column justify-content-center align-items-center m-5">
                    <p>
                        Attend a training that explains everything about managing your store on JUMIA.
                    </p>
                    <button class="learn-btn">Book your place</button>
                </div>
            </div>
            <div>
                <button class="learn-btn">Contact Us</button>
            </div>
        </div>
    </section>
    <app-sell-footer></app-sell-footer>
    
</div>