<nav class="jumia-navbar">
    <div class="nav-container">
      <!-- Left side - Navigation Links -->
      <div class="nav-links">
        <a class="nav-link register text-light px-3 py-2" routerLink="/sellerRegisteration">Register Now</a>
        <a class="nav-link">Start Now</a>
        <a class="nav-link">Shipping and delivery</a>
        <a class="nav-link">Selling expenses on Jumia</a>
      </div>
  
      <!-- Right side - Logo and Vendor Text -->
      <div class="nav-brand">
        <span class="jumia-logo">JUMIA</span>
        <span class="vendor-text">Vendor</span>
        
      </div>
    </div>
</nav>