/* .btn-outline-primary {
  background-color: #f68b1e;
  border-color: #f68b1e;
  color: white;
}
.btn-outline-primary:hover {
background-color: #e67b10;
} */

.button-container {
    display: flex;
    gap: 10px; /* إضافة مسافة بين الأزرار */
  }
  /* .btn-outline-seeDetails{
    background-color: #f68b1e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn-outline-seeDetails:hover{
    background-color: #e67b10;
  } */
  